services:
  dev:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: pagina-b2b-dev
    ports:
      - "1234:4200"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true
    restart: unless-stopped

  prod:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: pagina-b2b-prod
    ports:
      - "1235:80"
    restart: unless-stopped
    profiles: ["prod"]
