<footer class="main-footer">
    <div class="row">
        <div class="col-md-2 col-xl-2 col-xs-12 text-center">


            <strong>Copyright © 2026 <a href="#" target="_blank">Global Group</a>.</strong>
        </div>
        <div class="col-md-2 col-xl-2 col-xs-12 text-center">
            <span>Todos los derechos reservados.</span>

        </div>

        <div class="col-md-8 col-xl-8 col-xs-12" id="footer_monto_carrito">
            <div class="col-md-12 col-xl-12 col-xs-12 text-center">
                <div class="row"><span class="col-md-2 col-xl-2 col-xs-12"><i
                            class="fas fa-cart-plus fa-lg mr-2"></i><strong>Total SKU: </strong>0</span><span
                        class="col-md-2 col-xl-2 col-xs-12"><strong> Total Unidades: </strong>0</span><span
                        class="col-md-3 col-xl-3 col-xs-12"><strong> Sub Total Aproximado: </strong>$ 0</span><span
                        class="col-md-4 col-xl-4 col-xs-12"><strong> <img src="/Vista/img/bonificacion/Chanchito-12.png"
                                class="chanchito_barra"> Bonificación Aproximada: </strong>$ 0</span></div>
            </div>
        </div>

    </div>
    <!-- <div class="col col-4" id="footer_monto_carrito" > 
      <img src="https://static.vecteezy.com/system/resources/thumbnails/000/643/273/small/pigs.jpg" class="img_pig"alt="" srcset="">
      
    </div> -->



</footer>