<header>
    <div class="logo">GLOBAL PHARMA <br> Farmacias Prueba</div>
    <div class="search-wrapper">
        <label for="buscar_central" hidden>Buscar</label>
        <input class="search-input" id="buscar_central" placeholder="Buscar productos, códigos o convenios…"
            (click)="buscar_central()" />
    </div>
    <div class="header-actions">
        <div class="icon-circle"></div>
        <div class="icon-circle"></div>
        <button class="cart-btn">Carrito (3)</button>
    </div>
</header>