<h2 class="heading">Ofertas</h2>
<div class="divider"> <span></span></div>
<section class="carousel">

    <div class="flash-strip">
        @for (card of loopMenu; track card) {
        <div class="card">
            <div class="card-body">
                <a [routerLink]="card.link">
                    <img src="{{ card.src }}" class="card-img-top" alt="{{ card.alt }}"></a>
                <div class="overlay"></div>
                <h5 class="card-title">{{ card.nombre }}</h5>
            </div>
        </div>
        }
    </div>

    <button class="prev" (click)="scroll(-1)"><i class="fa-solid fa-chevron-left"></i></button>
    <button class="next" (click)="scroll(1)"><i class="fa-solid fa-chevron-right"></i></button>

</section>