.flash-strip {
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    margin-bottom: 2rem;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    position: relative;
}

.flash-strip::-webkit-scrollbar {
    display: none;
}

.heading {
    position: relative;
    padding-left: 20px;
}

.heading::before {
    content: "";
    position: absolute;
    left: 0;
    width: 10px;
    height: 70%;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--accent);
}

.divider {
    border-bottom: 1px solid #FFF;
    background-color: #DADADA;
    height: 1px;
    margin: 0.5em 0px 1.5em;
}

.card {
    border: none;
    width: 16rem;
    flex-shrink: 0;
    scroll-snap-align: start;
}

.card-body {
    position: relative;
    overflow: hidden;
    padding: 0;
    border-radius: 8%;
}


.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.card-body img {
    transition: transform 0.8s ease;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    display: block;
}

.card-title {
    position: absolute;
    bottom: 10px;
    left: 0px;
    right: 0px;
    text-align: center;
    color: white;
    padding: 20px;

    opacity: 0;
    transform: translateY(10px);
    transition: all 0.3s ease;
}

.card:hover .overlay,
.card:hover .card-title {
    opacity: 1;
    transform: translateY(0);
}

.card:hover img {
    transform: scale(1.05);
}


/*flechitas*/
.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    border-radius: 50%;
    font-size: 1.5rem;
    background-color: rgba(108, 108, 108, 0.4);
    color: white;
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 0.3s ease;
}

.prev {
    left: 2px;
}

.next {
    right: 2px;
}

.prev:hover,
.next:hover {
    background-color: rgba(33, 33, 33, 0.4);
}