.flash-stripP {
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    margin-bottom: 2rem;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    position: relative;
}

.flash-stripP::-webkit-scrollbar {
    display: none;
}


.headingP {
    position: relative;
    padding-left: 20px;
}

.headingP::before {
    content: "";
    position: absolute;
    left: 0;
    width: 10px;
    height: 70%;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--accent);
}

.dividerP {
    border-bottom: 1px solid #FFF;
    background-color: #DADADA;
    height: 1px;
    margin: 0.5em 0px 1.5em;
}

.cardP {
    border: none;
    width: 16rem;
    flex-shrink: 0;
    scroll-snap-align: start;
}

.card-bodyP {
    position: relative;
    overflow: hidden;
    padding: 0;
    border-radius: 8%;
<<<<<<< HEAD
=======
    height: 100%;
>>>>>>> 62fe170 (ruleta, corrección promociones y wallet)
}


.overlayP {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.card-bodyP img {
    transition: transform 0.8s ease;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    display: block;
}

.card-titleP {
    position: absolute;
    bottom: 10px;
    left: 0px;
    right: 0px;
    text-align: center;
    color: white;
    padding: 20px;

    opacity: 0;
    transform: translateY(10px);
    transition: all 0.3s ease;
}

.cardP:hover .overlayP,
.cardP:hover .card-titleP {
    opacity: 1;
    transform: translateY(0);
}

.cardP:hover img {
    transform: scale(1.05);
}


/*flechitas*/
.prevP,
.nextP {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    border-radius: 50%;
    font-size: 1.5rem;
    background-color: rgba(108, 108, 108, 0.4);
    color: white;
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 0.3s ease;
}

.prevP {
    left: 2px;
}

.nextP {
    right: 2px;
}

.prevP:hover,
.nextP:hover {
    background-color: rgba(33, 33, 33, 0.4);
}