.ruleta-flotante {
    position: fixed;
    bottom: 24px;
    width: 56px;
    height: 56px;
    cursor: pointer;
    z-index: 1000;
}

.ruleta-flotante img {
    width: 150%;
    height: 150%;
}

.ruleta-flotante:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.ruleta-container {
    position: relative;
    width: 300px;
    margin: auto;
}

.container-element {
    background: #ffffff;
    border-radius: 50%;
}


/*BOTON*/
button {
    padding: 10px 20px;
    border-radius: 50px;
    margin-top: 1rem;
    margin-left: 108px;
    cursor: pointer;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    font-size: 15px;
    transition: all 0.5s ease;
}

button:hover {
    letter-spacing: 3px;
    background-color: #00a3e0;
    color: hsl(0, 0%, 100%);
    box-shadow: #00a3e0 0px 7px 29px 0px;
}

button:active {
    letter-spacing: 3px;
    background-color: #00a3e0;
    color: hsl(0, 0%, 100%);
    box-shadow: #00a3e0 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
}


.ruleta-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2000;
}


.roulette-modal {
    position: fixed;
    bottom: 90px;
    right: 24px;
    background: white;
    padding: 16px;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, .2);
}

.roulette {
    border-radius: 50%;
    transition: transform 2.5s cubic-bezier(.25, .1, .25, 1);
}

.slice {
    position: absolute;
    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    transform-origin: 0% 0%;
    clip-path: polygon(0 0, 100% 50%, 0 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
}

.pointer {
    position: absolute;
    transform: rotate(180deg);
    left: 47%;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid rgb(90, 90, 90);
    z-index: 10;
}

.result {
    margin-top: 16px;
    font-size: 1.4rem;
    font-weight: bold;
}

.letra {
    margin-top: 1rem;
    margin-left: 108px;
    font-weight: 500;
    font-size: 18px;
    color: white;
}