/* You can add global styles to this file, and also import other style files */
:root {
    --bg: #f2f6fc;
    --header-bg: #ffffff;
    --accent: #00a3e0;
    /* celeste Global Pharma aprox */
    --accent-soft: #d2ecf8;
    --accent-secondary: #5a70b4;
    --card-bg: #ffffff;
    --text-main: #1e293b;
    --text-muted: #64748b;
    --badge-bg: #eff6ff;
    --border-soft: #e2e8f0;
    --success: #16a34a;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    background: var(--bg);
    color: var(--text-main);
}

.page {
    max-width: 1280px;
    margin: 0 auto;
}