<div class="carousel">

    <div class="track" [style.transform]="'translateX(-' + currentIndex() * 100 + '%)'">

        @for (img of slides; track img) {
        <div class="slide">
            <a [routerLink]="img.link">
                <img [src]="img.src" [alt]=img.alt />
            </a>
        </div>
        }

    </div>

    <button class="prev" (click)="prev()"><i class="fa-solid fa-chevron-left"></i></button>
    <button class="next" (click)="next()"><i class="fa-solid fa-chevron-right"></i></button>


    <div class="indicators">
        @for (img of slides; track img; let i = $index) {
        <span [class.active]="i === currentIndex()" (click)="goTo(i)">
        </span>
        }
    </div>

</div>