.carousel {
    position: relative;
    width: 100%;
    aspect-ratio: 3100 / 902;
    margin-bottom: 30px;
    overflow: hidden;
    /*border-radius: 35px;*/
}

.track {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
}

.slide {
    min-width: 100%;
    height: 100%;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    border-radius: 50%;
    font-size: 1.5rem;
    background-color: rgba(180, 180, 180, 0.4);
    color: white;
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 0.3s ease;
}

.prev {
    left: 20px;
}

.next {
    right: 20px;
}

.prev:hover,
.next:hover {
    background-color: rgba(87, 87, 87, 0.4);
}

.indicators {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

.indicators span {
    display: inline-block;
    width: 20px;
    height: 4px;
    margin: 0 5px;
    background: #ccc;
    border-radius: 2px;
    cursor: pointer;
}

.indicators span.active {
    background: white;
}